<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826622552589-320m8mfr1vg913ivqnk6giboivnejkd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826622552589-320m8mfr1vg913ivqnk6giboivnejkd1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>826622552589-7i7m4k1b00t8r62qtjcpusk38cn24uet.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB89nToUM6JSdf7t8soknGCCNKS_fkjiu4</string>
	<key>GCM_SENDER_ID</key>
	<string>826622552589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rlgus16.groupting</string>
	<key>PROJECT_ID</key>
	<string>groupting-aebab</string>
	<key>STORAGE_BUCKET</key>
	<string>groupting-aebab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826622552589:ios:f72b09a326d54eaceb4344</string>
	<key>DATABASE_URL</key>
	<string>https://groupting-aebab-default-rtdb.firebaseio.com</string>
</dict>
</plist>